* {
    box-sizing: border-box;
}
body {
    background: url("../images/GOTbackground.jpg") no-repeat 50% 50% fixed;
    background-size: cover;
    color: #BFBD9D;
    font-size: 15px;
}
.title-img {
    display:block;
    margin: 1.5em auto 1.5em auto;
    width: 75%;
}
h1 {
    text-align: center;
    font-size: 20px;
    padding: 1em;
}
h2 {
    text-align: center;
    /* font-size: 15px; */
    padding: .5em;
}
.win-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 375px;
    height: auto;
}
.win-container img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.container {
    height: 130px;
    max-width: 375px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.fight-container {
    margin-top: 1em;
    height: 100%;
}
.houses {
    width: 80px;
    height: 120px;
    display: inline-block;
    padding: .5em;
    margin: 5px;
    border: 1px #BFBD9D solid;
}
.sigils {
    height: 60px;
    max-width: 100%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.houses P {
    text-align: center;
    margin: .25em 0 .25em 0;
}
.your-house {
    display: block;
    margin: .5em auto .5em auto;
}
.hero {
    background: grey;
}
.enemy {
    background: red;
}
.enemy, .hero{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.enemy {
    background: red;
}
.button {
    background: red;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    margin: 1em auto;
    display: block;
}
.button:hover {
    cursor: pointer;
}
.fight-text {
    font-size: 20px;
    text-align: center;
    background: rgba(0,0,0,.6);
    padding: .25em; 
}
.character:hover {
    cursor: pointer;
}
.hidden {
    display: none;
}
